.home-layout{

    display:flex;

    gap:25px;

    padding:25px;

    background:#111827;

    min-height:calc(100vh - 75px);

}

.feed{

    flex:1;

    max-width:700px;

    margin:auto;

}

@media(max-width:1200px){

    .feed{

        max-width:100%;

    }

}

@media(max-width:992px){

    .home-layout{

        padding:15px;

    }

}