.profile-stats{
    display:flex;
    justify-content:space-between;
    gap:20px;
}


.stat-card{

    flex:1;

    background:#1F2937;

    border-radius:16px;

    padding:22px;

    text-align:center;

    transition:.3s;

    cursor:pointer;
}


.stat-card:hover{

    transform:translateY(-4px);

    background:#273244;
}


.stat-card h3{

    color:#ffffff;

    font-size:28px;

    margin-bottom:8px;
}


.stat-card span{

    color:#9CA3AF;

    font-size:15px;
}



/* Tablet */

@media(max-width:768px){

.profile-stats{

    flex-direction:column;

    gap:15px;

}


.stat-card{

    padding:18px;

}


.stat-card h3{

    font-size:24px;

}

}



/* Small Mobile */

@media(max-width:480px){

.profile-stats{

    gap:12px;

}


.stat-card{

    border-radius:12px;

    padding:15px;

}


.stat-card h3{

    font-size:22px;

    margin-bottom:6px;

}


.stat-card span{

    font-size:13px;

}

}